{
  "parser": "babel-eslint",  // 指定解析器来解析eslint代码
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "semi": [0], // 不检查分号
    "react/jsx-filename-extension": [0],
    "react/jsx-curly-spacing": [0],
    "no-console": [0],
    "react/require-default-props": [0],
    "react/prop-types": [0],
    "no-unused-vars": [0],
    "arrow-body-style": [0],
    "react/destructuring-assignment": [0]
  }
}
