{
  "presets": ["@babel/preset-react"], // babel-loader 默认只转换es6语法, 需要配置转换jsx语法的 
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "react-hot-loader/babel"
  ]
}